.fullFrame{
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: #FBEAEB;
    color:#2f3c7e;
}

#inQuiz, #afterQuiz{
    display: none;
}

#afterQuiz{
    margin: auto;
    text-align: left;
}
.timerDisplay{
    width: 100%;
    margin: none;
}

#secondsToDisplay{
    text-align: right;
    width: 100%;
}

.userOption{
    background-color: #2f3c7e;
    font-family: 'Times New Roman', Times, serif;
    color: #FBEAEB;
    font-size: 18px;
    margin: 5px;
}

.feedback{
    color: #2f3c7e;
    border-top-color: grey;
    border-top-style: solid;
}

#homePage, #clearHighscore, #saveEmail, #starter{
    background-color: #2f3c7e;
    color: #FBEAEB;
    font-weight: bold;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.inputDescription, #questionDisplay{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: fit-content;
}

#emailInput{
    height: 30px;
    margin:none;
    padding-right: 10px; 
    padding-left: 10px;
    
}